<div class="box header">
  <img
    src="assets/universidade.png"
    alt="Logo da Universidade Estadual de Santa Cruz"
  />
  Universidade Estadual de Santa Cruz
</div>
<div class="wrapper">
  <div class="menu">
    <h1>Menu</h1>
    <ul>
      <li>Titulo 1</li>
      <li>Titulo 2</li>
      <li>Titulo 3</li>
      <li>Titulo 4</li>
    </ul>
  </div>
  <div class="noticias">
    <h1>Noticias</h1>
    <p>Lorem</p>
    <a href="">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a>
    <p>Lorem Ipsum</p>
    <a href="">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
  </div>
  <div class="destaques">
    <h1>Destaques</h1>
    <div class="imagens">
        <img class="livros" src="assets/livros.png" alt="">
        <img class="livros02" src="assets/livros02.png" alt="">
    </div>
  </div>
  <div class="servicos">
    <h1>Serviços</h1>
    <h5>Lorem</h5>
    <h5>Lorem ipsum dolor sit.</h5>
    <h5>Lorem ipsum dolor sit.</h5>
    <h5>Lorem ipsum dolor sit.</h5>
  </div>
  <div class="resultados">
    <h1>Resultados</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique magnam, voluptas in expedita dolor ea
      molestiae incidunt voluptates? Eius cumque neque debitis assumenda dicta incidunt optio et harum,
      facilis consequuntur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem, voluptates accusantium dicta
        totam consequatur obcaecati iusto cum blanditiis.</p>
  </div>
</div>
<div class="boxtwo footer">Footer</div>

